<footer>
  <div class="container footer-inner">
    <div class="footer-left">
      <a href="https://korea.ac.kr/" target="_blank" rel="noopener">
        <img class="footer-logo" src="/images/logo/ver2/crimson2positive.gif" alt="Korea University">
      </a>
    </div>
    <div class="footer-text">
      Department of <a href="http://xai.korea.ac.kr/">Artificial Intelligence</a>, <a href="https://korea.ac.kr/">Korea University</a><br>
      (02841) 145 Anam-ro, Seongbuk-gu, Seoul, South Korea<br>
      All Rights reserved by ©<a href="https://vgi.korea.ac.kr/">VGI Lab</a>
    </div>
    <div class="footer-right">
      <a href="https://vgi.korea.ac.kr/">
        <img class="footer-logo" src="/images/logo/ver2/logo_square_black2.png" alt="VGI Lab">
      </a>
    </div>
  </div>
</footer>
