*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 10%; /* top and bottom: 30px, right and left: 10% */
    background-color: white;
    font-family: 'Montserrat', sans-serif; /* font size can be set using 'link' in index.html. */
    position: fixed;
    flex-wrap: wrap;
    width: 100%;
    height: 60px;
    z-index: 1;
}

header.collapsed {
    position:static;
    background-color: transparent;
    border-bottom: none;
}

header nav{
    display: flex;
    position:fixed;
    transition: all 0.01s;
    background-color: transparent;

}
/* header{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
} */

body{
    padding-top: 0px;
}
.logo {
    margin-right: auto;
    cursor: pointer;

    /* color: black;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase; */
}

.img-logo {
    width: 180px;
}

.nav-links li, a {
    color: black;
    text-decoration: none;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    /* background-color: white; */
    cursor: pointer;
}

.nav-links li {
    list-style: none;
    padding: 0px 20px;
    display: inline-block;
}

.nav-links li a:hover {
    color: grey;
    /* transition: all 0.3s ease 0s; */
}
/*!*/

ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}

.nav-links:after {
    display: block;
    content: "";
    clear: both;
}

.nav-links > li {
    position: relative;
    float: left;
}

.nav-links > li > a {
    display: block;
    padding: 0px;
    /* background: white; */
    height: 40px;
    line-height: 40px;
    color: white;
    text-align: center;
}
.nav-links > li:hover .Style1 {
    max-height: 200px;
}

.nav-links .Style1 {
    font-size: 16px;
    display: block;
    position: absolute;
    list-style: none;
    line-height: 2em;
    overflow: hidden;
    max-height:0;
    width: 100%;
    padding-top: 2px;
    transition: max-height 0.15s ease-in;
    right: 0%;
    text-align: center;

}

.nav-links .Style1 a {
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
    /* background: white; */
    color: white;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    line-height: 150%;
    /* box-shadow: 3px 3px 3px gray; */

}

.nav-links .Style1 li {
    padding: 0px 0px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}
/*!*/

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

/* .welcome.with-fixed-header {
    background-color: rgba(11, 25, 67, 1);
}

.welcome.with-fixed-header li{
    background-color: rgba(11, 25, 67, 1);
} */

.about-btn {
    padding: 12px 25px;
    /* background: rgb(20, 73, 220); */
    background: grey;
    border-radius: 30px;
    text-transform: uppercase;
    /* letter-spacing: 1px; */
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.area-btn {
    padding-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    /* padding-bottom: 20px; */
}

.area-btn .current {
    padding: 12px 25px;
    /* background: rgb(20, 73, 220); */
    display: inline-block;
    /* background: rgb(118, 143, 211); */
    background: rgba(124, 0, 25, 1);
    border-radius: 30px;
    text-transform: uppercase;
    /* letter-spacing: 1px; */
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.anchor-top {
    display: block;
    height: 50px; 
    margin-top: -44px; 
    visibility: hidden;
}

.section1{
    height: 0px;
}


@media screen and (max-width:1020px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 450%;
        top: 60px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: left;
        width: 200px;
        transform: translateX(110%);
        /* transition: transform 0.3s ease-in; */
        box-shadow: -2px 5px 5px 0px rgba(0,0,0,.2);
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
    .nav-links .Style1 {
        display: none;
    }
    .about-btn {
        padding: 8px 8px;
        display: inline-block;
        /* background: rgb(20, 73, 220); */
        background: gray;
        border-radius: 20px;
        text-transform: uppercase;
        /* letter-spacing: 1px; */
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        margin: 5px 0px
    }
    
    .area-btn {
        padding-top: 30px;
        margin-left: 10%;
        margin-right: 10%;
        
        /* padding-bottom: 20px; */
    }
    .anchor-top {
        display: block;
        height: 35px; 
        margin-top: -44px; 
        visibility: hidden;
    }

    .area-btn .current {
        padding: 8px 8px;
        /* background: rgb(20, 73, 220); */
        display: inline-block;
        /* background: rgb(118, 143, 211); */
        background: rgba(124, 0, 25, 1);
        border-radius: 20px;
        text-transform: uppercase;
        /* letter-spacing: 1px; */
        color: #fff;
        font-family: 'Montserrat', sans-serif;
    }
    .nav-links > li > a {
        display: block;
        padding: 0px;
        height: 40px;
        line-height: 40px;
        color: black;
        text-align: center;
    }
    /* .welcome.with-fixed-header {
        background-color: rgba(11, 25, 67, 1);
        
    }
    .welcome.with-fixed-header li{
        background-color: transparent;
    } */
    #header.scrolled .nav-links .current { /*home 글씨 */
        color: rgba(124, 0, 25, 1);
    }
    
    #header.scrolled .nav-links li a { /*다른 항목 글씨 */
        color: black;  
    }
}

.nav-active {
    transform: translateX(0%);
}

.burger.close .line:nth-child(1) { 
    transform: rotate(45deg) translate(5px, 5px); 
} 

.burger.close .line:nth-child(2) { 
    opacity: 0; 
} 

.burger.close .line:nth-child(3) { 
    transform: rotate(-45deg) translate(7px, -6px); 
} 

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.nav-links .current {
    font-weight: bold;
    color: rgb(111, 205, 249);
}

html {
    scroll-behavior: smooth;
}

.footer-bottom-text {
    text-align: center;
    background: #111;
    color: white;
    line-height: 75px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}

.banner-area {
    /* for image */
    background-image: url(../images/Korea_University_Main_Hall.jpg);
    width: 100%;
    height: 400px;
    /* height: 30vh; */
    
    /* background-color:  rgba(170, 170, 170, 0.3); */
    
    background-repeat: no-repeat;
    background-size: cover;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    /* background-position: center center; */
    background-position: top -400px center;
    -webkit-background-size: cover;
    margin-bottom: -20px;
}
@media screen and (max-width: 1020px) {
    .banner-area {
        background-position: center center; 
    }
}
.banner-area h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
    
    /* padding-top: 60px; */
}

@media screen and (max-width:1020px) {
    .banner-area h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
        color: white;
        text-align: center;
    }
}

.banner-area h1 span{
    display: inline-block;
    /* background-color: rgba(255, 255, 255, 0.9); */
    padding: 0px 10px 0px 10px;
}

.anchor {
    display: block;
    height: 50px; 
    margin-top: -50px; 
    visibility: hidden;
}

/* Publication Styles */
.area-main {
    padding-top: 0px;
    margin-left: 10%;
    margin-right: 10%;
    /* padding-bottom: 20px; */
}


.area-divider-top {
    display: block;
    width: 100%;
    height: 5px;
    margin-top: 20px;
    background-color: rgb(211, 211, 211);
}

.area-divider-bottom {
    display: block;
    width: 100%;
    height: 5px;
    margin-bottom: 30px;
    background-color: rgb(211, 211, 211);
}

.area-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: bold;
    /* color: royalblue; */
    color: rgba(124, 0, 25, 1);

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5%;
}

.numbering {
    float: left;
}

.numbering p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: left;
    line-height: 30px;

    padding: 0;
    margin: 0;
}

.each-con p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: left;
    line-height: 30px;
    padding-left: 30px;
}

.each-con span {
    display: block;
    line-height: 30px;
    font-size: 15px;
}

.each-con {
    padding-bottom: 20px;
}


.footer {
    background-color: #f8f8f8; /* 연한 회색 배경 */
    padding: 20px;
    display: flex;
    justify-content: center;  
    
}


.footer-container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    max-width: 900px; 
    width: 100%;
    gap: 0;
}


.footer-left {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    margin-right: 10px; 
}

.footer-logo {
    width: auto; 
    height: 50px;
}

.footer-right {
    text-align: left;
    justify-content: center;
    display: flex;
    flex-direction: column; 
    color: #888;
}

.footer-right p {
    margin: 0; 
    font-size: 14px;    
}
.footer-right a {
    color: #888;
    text-decoration: none;
    font-weight: bold;
}

.footer-right a:hover {
    /* text-decoration: underline; */
    color: #600000;
}



/* -------------- */
header.collapsed {
    position:static;
    background-color: transparent;
    border-bottom: none;
}

header nav{
    display: flex;
    position:fixed;
    transition: all 0.01s;
    background-color: transparent;
}

.nav-links li, a {
    color: black;   
    text-decoration: none; 
    /* transition: color 0.3s ease-in-out; */
}
#header.scrolled .nav-links .current { /*home 글씨 */
    color: rgba(214, 201, 177, 1);
}

#header.scrolled .nav-links li a { /*다른 항목 글씨 */
    color: white;  
}
.nav-links {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    /* background-color: white; */
    cursor: pointer;
}

.nav-links li {
    list-style: none;
    padding: 0px 20px;
    display: inline-block;
}

.nav-links li a:hover { /*메뉴 안쪽*/ /*마우스 올리면*/
    /* color: grey; */
    color: rgba(124, 0, 25, 1);  
}
#header.scrolled .nav-links li a:hover { /*메뉴 안쪽*/ /*마우스 올리면 +스크롤시 */
    color: rgba(214, 201, 177, 1);

}

.nav-links:after {
    display: block;
    content: "";
    clear: both;
}

.nav-links > li {
    position: relative;
    float: left;
}

.nav-links > li > a {
    display: block;
    padding: 0px;
    /* background: white; */
    height: 40px;
    line-height: 40px;
    /* color: white; */
    color: black;
    text-align: center;
}

.nav-links > li:hover .Style1 {
    max-height: 200px;
}

.nav-links .Style1 {
    font-size: 16px;
    display: block;
    position: absolute;
    list-style: none;
    line-height: 2em;
    overflow: hidden;
    max-height:0;
    width: 100%;
    padding-top: 2px;
    transition: max-height 0.15s ease-in;
    right: 0%;
    text-align: center;

}
@media screen and (max-width: 1020px) {
    .nav-links.nav-active > li {
        padding: 5px 0; 
    }
    #header.scrolled .nav-links li a {
        color: black;
    }
    #header.scrolled .nav-links .current { /*home 글씨 */
        color: rgba(124, 0, 25, 1);  
    }

    .nav-links .Style1 {
        display: none; 
    }

    .nav-links li a:hover { /*메뉴 안쪽*/ /*마우스 올리면*/
        color: grey;
    }
    #header.scrolled .nav-links li a:hover { /*메뉴 안쪽*/ /*마우스 올리면 +스크롤시 */
        color: grey;
    }
}
#header.scrolled .Style1 li { /*style1은 배너 안의 항목들*/
    background-color: rgba(124, 0, 25, 1);  
}

.nav-links .Style1 a {
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
    /* background: white; */
    /* color: white; */
    color: black;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    line-height: 150%;
    /* box-shadow: 3px 3px 3px gray; */

}

.nav-links .Style1 li {
    padding: 0px 0px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}
#header.scrolled .welcome.with-fixed-header {
    background-color: rgba(124, 0, 25, 1); 
}
.nav-links .current { /*home 색깔*/
    font-weight: bold;
    /* color: rgb(111, 205, 249); */
    /* color: rgba(110, 46, 141, 1) */
    color: rgba(124, 0, 25, 1);
}